# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.env

# Flask
instance/
error.log

# Node
node_modules/
package-lock.json
npm-debug.log

# Database
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
*.swp
